# =========================
# Build outputs
# =========================
**/build/
be/.gradle/

# =========================
# Gradle
# =========================
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# =========================
# Frontend
# =========================
fe/node_modules/
fe/dist/
fe/dist-ssr/
*.local

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
*.iws
*.ipr

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/
